.eb2 { background-color: #e81; position: fixed; top: 0; right: 8%; z-index: 1100;}

.eb2 a { color: #fafafa; }
.eb2 a:hover { text-decoration: none; }

a.edit-link {
    position: absolute;
    top: 0;
    left: -32px;
    font-family: Verdana, sans-serif;
    display: block;
    font-weight: normal;
}

a.edit-link:visited { color: #fff; }

.edit-parent {
    position: relative;
}