    <div class="row">
        <div class="span8">
            <h2><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
            {% if object.author %}<p>By: {{ object.author }}</p>{% endif %}
            {% if object.category %}<p>Category: {{ object.category }}</p>{% endif %}
            {% if object.published_at %}<p>Published: {{ object.published_at|date:"m/d/Y h:i a" }}</p>{% endif %}
            <p>{{ object.content|safe|truncatewords_html:"40" }}</p>
            {% include "_edit_link.html" %}
        </div>
    </div>