{% comment %}
{% if request.user.is_superuser %}
  {% if edit_mode %}

    <div id="editbar" class="btn-group">
      {% if object %}
      <button class="btn btn-warning"><a href="{{ object.get_edit_url }}?next={{ request.path }}">Edit this {{ object.content_type.name|title }}</a></button>
      {% endif %}

      <div class="btn-group">
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Add <span class="caret"></span></button>
        <ul class="dropdown-menu">
          {% for app in CONTENT_APPS %}
          <li><a href="{{ app.admin_add_url }}?next={{ request.path }}">Add {{ app.obj_type|title }}</a></li>
          {% endfor %}
        </ul>
      </div>


      <button class="btn btn-warning"><a href="/admin/">Admin</a></button>

      {% if USE_STATIC_SITE %}
      <button class="btn btn-warning"><a href="{% url 'deploy' %}">Rebuild Site</a></button>
      {% endif %}

      <button class="btn btn-warning"><a href="{% url 'admin:logout' %}?next={{ request.path }}">Logoff</a></button>

      <button class="btn btn-warning"><a href="{{ request.path }}?mode=">Exit Mode</a></button>
    </div>

  {% else %}

    <div id="editbar" class="btn-group">
      <button class="btn btn-warning"><a href="{{ request.path }}?mode=edit">Edit Mode</a></button>
    </div>

  {% endif %}
{% endif %}
{% endcomment %}

{% if request.user.is_superuser %}

  <div id="editbar">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <ul>
  {% if edit_mode %}

        {% if object %}
        <li><a href="{{ object.get_edit_url }}?next={{ request.path }}">Edit this {{ object.content_type.name|title }}</a></li>
        {% endif %}

        <li class="pure-menu-selected"><a href="/things/">Admin</a></li>

        {% if USE_STATIC_SITE %}
        <li><a href="{% url 'deploy' %}">Rebuild Site</a></li>
        {% endif %}

        <li><a href="{% url 'admin:logout' %}?next={{ request.path }}">Logoff</a></li>
        <li><a href="{{ request.path }}?mode=">Exit Mode</a></li>


  {% else %}

      <li><a href="{{ request.path }}?mode=edit">Edit Mode</a></li>

  {% endif %}
      </ul>
    </div>
  </div>

{% endif %}