    {% if edit_mode %}

        <div class="btn-group eb2">
                {% if object %}
                <button class="btn btn-warning"><a href="{{ object.get_edit_url }}?next={{ request.path }}">Edit this {{ object.content_type.name|title }}</a></button>
                {% endif %}

                <button class="btn btn-warning"><a href="/admin/">Admin</a></button>

                {% if USE_STATIC_SITE %}
                <button class="btn btn-warning"><a href="{% url 'deploy' %}">Rebuild Site</a></button>
                {% endif %}

                <button class="btn btn-warning"><a href="{{ request.path }}?mode=">Exit Mode</a></button>
        </div>

    {% endif %}